.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.machine {
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black; /* Add border for visualization */
  margin-right: 2rem; /* Adjust margin as needed */
  margin-bottom: 2rem; /* Adjust margin as needed */
  cursor: pointer;
}

.machine.inUse {
  background-color: #fdfd96; /* Add background color for in-use machines */
}

.machine.available {
  background-color: #77dd77; /* Add background color for available machines */
}

.machine.outOfOrder {
  background-color: #ff6961; /* Add background color for out-of-order machines */
}

.machines {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
