.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.machine {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-right: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.machine.inUse {
  background-color: #fdfd96;
}

.machine.available {
  background-color: #77dd77;
}

.machine.outOfOrder {
  background-color: #ff6961;
}

.machines {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
